<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="autsql.Properties.Settings.MEConnectionString" connectionString="Data Source=DESKTOP-2EHD0HH\SQLEXPRESS;Initial Catalog=ME;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 